* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #ffff;
	color: #1d1d1d;
	font-size: 24px;
}

.contenedor {
	width: 90%;
	max-width: 100px;
	margin: 40px auto 100px auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
	justify-content: center;
}

.contenedor_actores {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr; 
	gap: 20px;
}

.nombreActor {
	font-size: 30px; 
}

.actorContenedor {
	display: flex;
	align-items: center; 
}

.actorContenedor img {
	max-width: 200px;
	border-radius: 10px;
	margin-right: 20px;
}

.biografiaContenedor {
	font-size: 16px; 
}

.peliculaxactor {
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	margin-top: 20px;
}

.peliculasConocidasContainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	margin-top: 20px;
}

.peliculaConocida {
	text-align: center;
	font-size: 14px; 
}

.peliculaConocida img {
	width: 100%;
	max-width: 200px;
	height: auto;
	border-radius: 20px;
}

.peliculaConocida p {
	margin-top: 8px;
}

.conocidopor {
	font-size: 20px;
}
